* { 
    box-sizing: border-box; 
} 

body {
    background: #f4f6fb; /* Soft light blue/gray */ /* #f6f8fa before */
    color: #222;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 64px;
    margin-top: 18px;
}

.header-left {
    display: flex;
    align-items: center;
}

.app-logo {
    height: 32px;
    margin-right: 10px;
    /* circular black background */
    background: #000;
    border-radius: 50%;
    /* make the background slightly larger than the logo */
    padding: 4px;
}

.app-title {
    font-size: 1.0em;
    font-weight: 600;
    letter-spacing: 1px;
}

.header-middle {
    display: flex;
    align-items: center;
    background: #fffffff6;
    border-radius: 36px;
    box-shadow: 0 1px 4px rgba(30,30,47,0.06);
    padding: 6px 12px;
    height: 50px;
    gap: 6px;
}

.add-btn {
    background: #111;
    color: #cccccc;
    border: none;
    border-radius: 48px;
    padding: 4px 18px;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 40px;
}
.add-btn:hover {
    background: #333;
}

.add-btn-icon {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.add-btn-text {
    font-size: 0.8em;   /* Text is smaller than icon */
}

.header-icon {
    font-size: 1.2em;
    color: #555;
    margin: 0;
    cursor: pointer;
    transition: color 0.2s, background 0.2s;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0 1px 4px rgba(30,30,47,0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.header-icon:hover {
    color: #777;
    background: #f6fafd;
}

.header-icon-outside {
    height: 50px;
    width: 50px;
    background-color:#ebf0f3;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 14px;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #e0e0e0;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-name {
    font-weight: 500;
    font-size: 1em;
}

.user-post {
    font-size: 0.92em;
    color: #888;
}